{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between">
    <h2>Acteurs</h2>
    <div>
         <a href="{{ path('person_add') }}" class="btn btn-primary">Ajouter</a>
     </div>
</div>

<div class="list-group">
    {% for person in persons %}
        <a href="{{ path('person_view', {'id': person.id}) }}" class="list-group-item list-group-item-action">
            {{ person.firstName }} {{ person.lastName }}
        </a>
    {% endfor %}
</div>

{% endblock %}
